:root {
      --header-font: black;  
}
/* Base HTML and Box Sizing */
html {
     box-sizing: border-box;
     font-size: 16px;
     font-family: "Inter", sans-serif;
     color: var(--header-font);
     scroll-behavior: smooth;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }

 /* Typography Reset */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-family: "Rubik", sans-serif;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
     margin: 0;
     padding: 0;
 }

 /* List Reset */
 ol,
 ul {
     list-style: none;
 }

 /* Image Handling */
 img {
     max-width: 100%;
     height: auto;
 }

 /* Form Element Styling */
 input,
 button,
 textarea,
 select {
     font: inherit;
 }